ul.additions li{
    font-style: italic;
}

div#ordersDiv{
    color: white;
}

div.order {
    border-style: solid;
    border-width: thin;
    border-color: white;
}

h2 {
    color: white;
}

div#newOrderDiv {
    background-color: lightblue;
}

div#orderedDiv {
    background-color:green;
}

div#preparingDiv {
    background-color:orange;
}

div#paidDiv {
    background-color:orangered;
}

div#doneDiv{
    background-color:red;
}

/* We want text color of inputs to be black so that it shows against their white background */
input {
    color: black;
}

select {
  color: black;
}
